.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #333;
  font-size: 15px;
  font-weight: 400;
  color: #f7f7f7;
  padding: 30px 20px;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer li {
  padding: 4px;
  white-space: nowrap;
}
