.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  color: #fff;
}

.mainMenu {
  /*display: flex;*/
  /*justify-content: space-around;*/
  /*align-items: center;*/
  display: inline-flex;
  list-style: none;
  margin: 0;
  /*new*/
  /*border: 1px solid;*/
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: center;
  transition: max-height 0.4s;
}

.mainMenu li {
  padding-right: 1.9em;
}

.mainMenu a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  padding-bottom: 3px;
}

.mainMenu a:hover, .active {
  border-bottom: 1px solid #fff;
}
.mobileMenu {
  display: none;
  background: url(../../../public/img/menu.png) no-repeat;
  background-size: contain;
  cursor: pointer;
  width: 30px;
  height: 28px;
}

/* Media query */
@media (max-width: 991px) {

}

@media (max-width: 768px) {
  .mainMenu {
    max-height: 0;
  }
  .mainMenu:hover {
    max-height: 20em;
  }
  .mainMenu li {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    text-align: right;
  }
  .mobileMenu { display: inline-flex; }
}


@media (max-width: 420px) {

}
